<h1>Edit Blog</h1>
<%= form_with model: @blog, class: "blog-form" do |form| %>
  <% if @blog.errors.any? %>
    <div class="form-errors">
      <ul>
        <% @blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Title Field -->
  <div class="form-field">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-input" %>
    <!-- Display error message for title if any -->
    <% if @blog.errors[:title].any? %>
      <div class="error-message"><%= @blog.errors[:title].first.humanize %></div>
    <% end %>
  </div>
  <!-- Content Field -->
  <div class="form-field">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-input" %>
    <!-- Display error message for content if any -->
    <% if @blog.errors[:content].any? %>
      <div class="error-message"><%= @blog.errors[:content].first.humanize %></div>
    <% end %>
  </div>
  <!-- Submit Button -->
  <div class="form-actions">
    <%= form.submit "Update Blog", class: "form-submit" %>
  </div>
<% end %>
